* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

#main {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 100%;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  transform: translate(-50%, -50%);
  font-size: 6px; /* Make text size small */
}

#image {
  width: 80%;
  height: 50vh;
  background-color: red;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}
